# Binance Futures Testnet (USDT-M) API Credentials
# Get your keys at https://testnet.binancefuture.com (Log in with GitHub/Google/etc.)

BINANCE_API_KEY=IjfTlUF4cgMCLKJLUXvA2aFn0e5l0y6No9rD3vxJnbwOw1xJa5TGomIHkgOVaVpU

BINANCE_SECRET_KEY=bPQy2IGW2QyHyLuQp0bmOvwBYsJY5bJmDpVWgZq5zsK61s97Y66QG33Cj7A3ZbNW


